.sidebar {
    min-height: 100%;
  }

  .scrollable-container {
      overflow-y: auto;
      border-left: 1px solid #e8e8e8;
  }

  .input-box {
    background-color: #f2f2f2;
  }

  .topic-header {
    margin-left: 25px;
    margin-top: 15px;
  }

  .ant-card-body {
    padding: 10px;
  }

  .ant-comment-inner {
    padding: 0px 0px;
    padding-top: 16px;
  }

  .ant-comment-avatar {
    margin-top: 4px;
  }